## Importing necessary packages

In [101]:
import datetime as dt

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

pd.options.mode.chained_assignment = None

## Reading data

In [102]:
# Read data
df_bank = pd.read_csv(
    "../data/no_duplicates_data.csv", index_col="date", parse_dates=True
)
accounts = pd.read_csv("../data/no_duplicates_accounts.csv")
transactions = pd.read_csv("../data/no_duplicates_transactions.csv")

In [103]:
df_bank

              id  balance update_date  amount
date
2020-10-16     0    13.63  2021-07-02  200.00
2020-10-16     0    13.63  2021-07-02 -192.00
2020-10-16     0    13.63  2021-07-02  200.00
2020-10-16     0    13.63  2021-07-02  -24.00
2020-10-16     0    13.63  2021-07-02  -50.00
...          ...      ...         ...     ...
2021-06-30  1252  2074.71  2021-07-02  -80.10
2021-06-30  1252  2074.71  2021-07-02  -46.05
2021-06-30  1252  2074.71  2021-07-02  -10.00
2021-07-01  1252  2074.71  2021-07-02  -34.80
2021-07-01  1252  2074.71  2021-07-02  -17.20

[405482 rows x 4 columns]

In [104]:
transactions

        account_id        date  amount
0                0  2020-10-16  200.00
1                0  2020-10-16 -192.00
2                0  2020-10-16  200.00
3                0  2020-10-16  -24.00
4                0  2020-10-16  -50.00
...            ...         ...     ...
405477        1252  2021-06-30  -80.10
405478        1252  2021-06-30  -46.05
405479        1252  2021-06-30  -10.00
405480        1252  2021-07-01  -34.80
405481        1252  2021-07-01  -17.20

[405482 rows x 3 columns]

In [105]:
accounts

       id  balance update_date
0       0    13.63  2021-07-02
1       1    12.91  2021-07-02
2       4  2806.75  2021-07-02
3       7     0.38  2021-07-02
4       8    25.04  2021-07-02
..    ...      ...         ...
715  1247   688.03  2021-07-02
716  1249  5117.09  2021-07-02
717  1250 -2952.06  2021-07-02
718  1251   361.86  2021-07-02
719  1252  2074.71  2021-07-02

[720 rows x 3 columns]

## Define functions of preprocessing

In [106]:
def positive_transactions(x):
    """
    Returns only positive transactions, 
    and set 0 to negative ones.
    """
    if x >= 0:
        return x
    else:
        return 0

In [107]:
def negative_transactions(x):
    """
    Returns only negative transactions, 
    and set 0 to positive ones.
    """

    if x <= 0:
        return x
    else:
        return 0

In [108]:
def preprocess(df_kept_accounts, accounts_kept, nb_month=6):

    """
    This function returns preprocessed data that will be used as input 
    to the ML models
    """

    list_of_df = []

    for id in set(accounts_kept["id"]):

        print(id)

        # Transactions datframe df_id related to id
        df_id = df_kept_accounts[df_kept_accounts["id"] == id]

        # Create new columns "positive_transactions" and "negative_transactions"
        df_id["positive_transactions"] = df_id["amount"].apply(
            lambda x: positive_transactions(x)
        )
        df_id["negative_transactions"] = df_id["amount"].apply(
            lambda x: negative_transactions(x)
        )

        # Create "balance_per_day" column of balances for each date
        df_id = df_id.groupby("date").sum()
        df_id.sort_values(by="date", ascending=False, inplace=True)
        df_id["balance_per_day"] = -df_id["amount"]
        df_id["balance_per_day"].iloc[0] += accounts_kept[
            accounts_kept["id"] == id
        ].balance.values[0]
        df_id["balance_per_day"] = df_id["balance_per_day"].cumsum()

        df_id = df_id.drop(["balance", "id"], axis=1)

        df_id.sort_values(by="date", ascending=True, inplace=True)

        # Normalize data so that I solve sparcity of dates (add missing dates in df_id)
        for i, date in enumerate(df_id.index[:-1]):

            days = (df_id.index[i + 1] - df_id.index[i]).days
            if days == 1:
                continue

            else:
                for j in range(1, days):
                    df_id.loc[dt.timedelta(days=j) + date] = df_id.loc[date]
                    df_id.loc[
                        dt.timedelta(days=j) + date,
                        ["amount", "positive_transactions", "negative_transactions"],
                    ] = [0, 0, 0]

        df_id.sort_values(by="date", ascending=True, inplace=True)

        df_id["sum_outgoing_next_30_days"] = None

        # For each day of df_id compute sum of outgoings and incomes for next month
        for i, date in enumerate(df_id.index[:-30]):
            df_id.loc[date, "sum_outgoing_next_30_days"] = df_id.iloc[i + 1 : i + 31][
                "negative_transactions"
            ].sum()
            df_id.loc[date, "sum_income_next_30_days"] = df_id.iloc[i + 1 : i + 31][
                "positive_transactions"
            ].sum()

        for i in range(nb_month):
            df_id["negative_transaction_last_" + str(i + 1) + "_month"] = df_id[
                "sum_outgoing_next_30_days"
            ].shift((i + 1) * 30)
            df_id["positive_transaction_last_" + str(i + 1) + "_month"] = df_id[
                "sum_income_next_30_days"
            ].shift((i + 1) * 30)

        df_id = df_id.dropna()
        length = len(df_id)
        df_id = df_id.reset_index()

        # Monthly resampling of df_id
        df_id = df_id.drop([i for i in range(length) if i % 30 != 0])

        list_of_df.append(df_id)

    return list_of_df

## Preprocessing data

In [109]:
# Call function preprocess
list_of_df = preprocess(df_bank, accounts)

0
1
4
7
8
10
12
15
16
17
18
19
23
25
26
27
28
29
31
35
37
38
39
40
41
45
46
47
48
49
50
51
53
54
55
57
58
59
61
62
64
65
68
74
80
81
83
84
85
90
91
92
93
94
96
97
99
100
101
106
107
109
110
111
112
116
118
123
124
126
127
128
129
131
133
134
141
143
144
145
147
148
149
150
152
155
156
157
158
161
162
163
164
165
166
169
172
173
175
177
178
179
180
181
182
184
185
186
187
189
190
192
196
199
200
202
203
210
212
214
217
218
221
222
223
224
225
227
228
230
231
232
233
235
236
240
243
244
245
251
253
254
256
257
258
261
263
265
267
269
270
274
275
276
278
279
283
284
285
286
287
288
289
292
293
296
300
301
302
304
305
308
310
311
312
315
316
318
319
321
322
323
325
326
327
328
331
335
338
339
340
343
348
352
355
358
359
360
362
363
369
375
378
380
381
383
385
387
388
390
391
392
393
394
395
396
397
398
399
400
401
403
404
405
408
410
413
414
415
418
420
424
425
426
427
431
432
434
436
440
442
444
445
446
447
448
451
452
454
457
458
459
461
462
466
471
472
475
477
478
479
480
481
484
485
486
489
491
492
494
495
498
499
501
502
503
507
508
510
512
513
514
518
519
520
521
522
524
527
529
530
532
535
536
537
541
543
545
546
547
549
552
553
555
556
557
558
562
564
565
566
567
568
569
573
574
576
579
580
581
584
586
588
589
591
592
594
595
597
603
605
606
607
609
610
611
612
613
615
616
617
619
623
624
625
626
627
628
629
632
633
634
639
640
641
644
646
647
649
650
651
652
655
657
658
660
661
662
668
669
670
671
677
678
679
681
682
684
686
688
690
691
692
693
694
696
697
698
700
701
703
704
706
707
708
709
710
712
713
714
715
716
719
720
722
725
726
727
729
733
734
735
737
738
739
740
741
742
743
746
747
753
755
756
760
761
762
763
766
768
770
771
772
773
774
775
776
777
778
782
786
787
788
789
790
791
794
796
797
798
800
801
803
805
807
809
810
811
813
815
816
817
819
820
821
823
832
834
835
838
839
841
842
843
844
845
846
847
848
851
852
853
856
858
861
864
866
867
868
870
871
872
873
874
878
879
880
881
883
884
885
886
887
888
889
890
891
894
895
897
902
908
910
911
912
913
915
918
919
920
921
922
928
934
937
938
939
941
942
946
947
948
951
953
954
958
960
961
964
971
973
975
976
977
979
982
990
992
993
994
995
996
997
1000
1001
1002
1003
1005
1006
1009
1010
1011
1013
1014
1017
1018
1020
1022
1023
1024
1026
1027
1028
1030
1031
1032
1033
1034
1038
1039
1040
1041
1042
1043
1044
1045
1049
1050
1051
1052
1053
1054
1055
1056
1057
1059
1061
1062
1063
1065
1067
1069
1071
1072
1074
1075
1076
1077
1078
1080
1081
1082
1083
1084
1085
1086
1088
1089
1092
1095
1100
1101
1102
1104
1105
1109
1110
1111
1114
1115
1116
1117
1118
1119
1120
1123
1124
1125
1126
1127
1128
1129
1131
1132
1133
1136
1137
1140
1141
1143
1144
1147
1148
1149
1153
1155
1157
1159
1161
1162
1163
1164
1166
1167
1169
1171
1174
1177
1178
1179
1180
1181
1182
1183
1186
1190
1191
1194
1197
1198
1199
1200
1202
1203
1204
1205
1208
1209
1211
1212
1213
1214
1215
1216
1218
1220
1221
1223
1224
1225
1226
1227
1228
1230
1233
1234
1235
1237
1238
1240
1242
1243
1244
1245
1246
1247
1249
1250
1251
1252

In [110]:
# Convert list of datas to one Dataframe
df_final = pd.DataFrame()
for i, d in enumerate(list_of_df):
    print(i)
    df_final = pd.concat([df_final, d], axis=0)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719

In [111]:
df_final

,date,amount,positive_transactions,negative_transactions,balance_per_day,sum_outgoing_next_30_days,sum_income_next_30_days,negative_transaction_last_1_month,positive_transaction_last_1_month,negative_transaction_last_2_month,positive_transaction_last_2_month,negative_transaction_last_3_month,positive_transaction_last_3_month,negative_transaction_last_4_month,positive_transaction_last_4_month,negative_transaction_last_5_month,positive_transaction_last_5_month,negative_transaction_last_6_month,positive_transaction_last_6_month
0,2021-04-14,0.00,0.00,0.00,18.36,-3225.94,3215.50,-1585.2,1587.00,-1000.0,1000.00,-1070.29,1066.00,-3562.99,1828.00,-102.0,1841.00,-5037.0,1952.00
30,2021-05-14,0.00,0.00,0.00,7.92,-5186.1,5185.80,-3225.94,3215.50,-1585.2,1587.00,-1000.0,1000.00,-1070.29,1066.00,-3562.99,1828.00,-102.0,1841.00
0,2021-05-08,0.00,165.00,-165.00,4.41,-835.0,831.00,-7165.81,7165.00,-556.54,205.00,-9818.04,10252.33,-4768.09,4770.40,-5929.04,5896.49,-747.32,770.00
0,2021-03-10,-316.98,532.92,-849.90,1962.71,-11866.82,14875.79,-15941.46,16689.22,-12972.15,12515.82,-9490.21,8749.92,-15066.06,9488.18,-11310.98,10098.09,-4196.96,12120.28
30,2021-04-09,820.83,1318.93,-498.10,3833.87,-11306.21,8283.15,-11866.82,14875.79,-15941.46,16689.22,-12972.15,12515.82,-9490.21,8749.92,-15066.06,9488.18,-11310.98,10098.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2021-01-07,-632.59,189.90,-822.49,1737.22,-6727.94,6617.65,-8465.18,8279.85,-3363.25,4500.00,-852.69,1005.72,0.0,0.00,0.0,0.00,0.0,0.00
270,2021-02-06,-1125.61,0.00,-1125.61,2119.95,-5271.7,7420.93,-6727.94,6617.65,-8465.18,8279.85,-3363.25,4500.00,-852.69,1005.72,0.0,0.00,0.0,0.00
300,2021-03-08,-401.63,0.00,-401.63,3545.20,-6758.57,6358.83,-5271.7,7420.93,-6727.94,6617.65,-8465.18,8279.85,-3363.25,4500.00,-852.69,1005.72,0.0,0.00
330,2021-04-07,-142.22,0.00,-142.22,2886.05,-5145.89,3000.00,-6758.57,6358.83,-5271.7,7420.93,-6727.94,6617.65,-8465.18,8279.85,-3363.25,4500.00,-852.69,1005.72
360,2021-05-07,-207.67,0.00,-207.67,805.61,-4671.7,5005.14,-5145.89,3000.00,-6758.57,6358.83,-5271.7,7420.93,-6727.94,6617.65,-8465.18,8279.85,-3363.25,4500.00

## Save data

In [112]:
# Save dataframe
df_final.to_csv("../data/df_final_monthly.csv", index=True)